.sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(150deg, #653ef1, #fdbc09); /* สีพื้นหลัง */
  color: white;

  /* เพิ่มบรรทัดพวกนี้ */
  position: fixed; /* ตรึง sidebar ไว้กับขอบหน้าจอ */
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  z-index: 1000;
  
}

.logo {
  font-weight: 1000;
  font-size: 2rem;
  color: #5c18fc;
  margin-bottom: 2rem;
  -webkit-text-stroke: 1px #fdbc09;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 0.8rem;
  
}

nav a {
  display: block;
  padding: 1rem 2rem;
  border-radius: 12px;
  color: #ffd20b;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  min-height: 50px;
  line-height: 1.5;
  transition: 0.2s;
}

nav a:hover {
  background: #5c18fc;
}

nav a.active {
  background: #fdbc09;
  color: #7c3aed;
  font-weight: 700;
}
.AI{
  color: #ffd20b;
}

.bot {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #ffbb00;
  background-color: #7654f0;
  cursor: pointer ; 
}
