/* ADS */
.button-ads {
text-align: center;
background-color: rgb(255, 255, 255);
}
/* ADS BUTTON */
.btn-plus {
    background-color: lightgreen;
}
.btn-logout {
    background-color: rgb(255, 120, 120);
}
.btn-delete {
    background-color: rgb(255, 120, 120);
}   